*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}



.flexible-div{
    display: flex;
}

p{
    color: rgb(75, 75, 75);
}
h3{
    font-size: 22px;
    margin-top: 3%;
    margin-bottom: 3%;
}


.half-top{
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
}
.half-top p{
    text-align: justify;
    margin-right: 36%;
}
.half-image{
    width: 50%;
    margin-top: 4%;
}
.half-image img{
    width: 61%;
    
}
.half-top img{
    width: 60%;

}
.half-top h1{
    font-size: 50px;
    border-left: 4px solid rgb(255, 89, 89);
    padding-left: 3%;
    border-radius: 5px;
}
.color{
    color: rgb(249, 192, 97);
}
.button{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 89, 89);
    padding: 10px 1px;
    width: 25%;
    color:white;
    border-radius: 4px;
    margin: 20px 0;
}




.second-section{
    margin-top: 8%;

}
.second-section h1{
    font-size: 45px;
    font-weight:700;
    text-align: center;
}
.flexible-mission{
    display: flex;
    margin: 4% 8%;

}
.my-mission{
    width: 30%;
    margin:0 1.4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;

}
.my-mission p{
    color: rgb(75, 75, 75);
    margin-right: 2%;

}

.my-mission img{
    width: 45%;
    margin-left: 3%;
}
#mission{
    background-color: rgba(255, 238, 238);
    border-radius: 9%;
}
#mission h3{
    margin-top: 6%;

}
#vision{
    background-color: rgb(237, 245, 246);
    border-radius: 9%;
}

#goals{
    background-color: rgba(255, 244, 214);
    border-radius: 9%;
}




.develop{
    width: 60%;
    margin-left: 40px;
    margin-top: 50px;
}
.develop-image img{
    width: 70%;
    margin-left: 28%;

}
.develop h1{
    font-size: 40px;
    color: rgb(37, 37, 37);
}
.develop p{
    margin-right: 10%;
}
.develop-image{
    width: 40%;
}
.link-button{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 89, 89);
    padding: 10px 10px;
    width: 25%;
    color:white;
    border-radius: 4px;
    margin: 20px 0;
}
.third-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 5px ;
    
}
.global-community{
    width: 60%;
    margin-left: 11%;
    margin-top: 5%;
}
.global-community-image{
    width: 40%;
   
}
.global-community-image img{
    width: 75%;
    margin-left: 7%;
}
.global-community h1{
    font-size: 40px;
    color: rgb(37, 37, 37);

}
.fourth-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right bottom;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 1%;
    padding-bottom: 5%;
}


.build-app{
    margin: 5% 0;
}
.application-image{
    width: 50%;
}
.application-image img{
    width: 50%;
    margin-left: 30%;
}
.application-details{
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
}
.application-details h2{
    font-size: 38px;
}
.build-app h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
}
.application-details p{
    margin-right: 20%;
}




footer{
    padding: 3% 0;
    background: black;
    width: 100%;
    
}
footer h1{
    color:white;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 38px;
}
footer p{
    color: white;
    text-align: center;
    font-size: 14px;
}
.color-rgb{
    color: rgb(255, 89, 89);
}


